In [53]:
import pandas as pd

# Carregar o arquivo CSV
df_enem = pd.read_csv("../data/raw/MICRODADOS_ENEM_2023.csv", sep=";",encoding='ANSI')

# Salvar o DataFrame no formato Parquet
df_enem.to_parquet("../data/treated/df_enem.parquet")

In [54]:
#Tamanho da base
df_enem.shape

(3933955, 76)

In [55]:
#Mostrando primeiras linhas
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A

Retirando os alunos que faltaram a prova e aguardando em outro objeto

In [72]:
filter_al_presence = (df_enem['TP_PRESENCA_CN']== 1) & (df_enem['TP_PRESENCA_CH'] == 1) & (df_enem['TP_PRESENCA_LC'] == 1) & (df_enem['TP_PRESENCA_MT'] == 1)

df_enem_al_presence_full = df_enem[(filter_al_presence)]

Tamanho da base após retirada de faltantes

In [57]:
df_enem_al_presence_full.shape

(2678264, 76)

Retirando colunas desnecessárias

In [73]:
colums_drop = ['TP_PRESENCA_CN',
'TP_PRESENCA_CH',
'TP_PRESENCA_LC',
'TP_PRESENCA_MT',
'CO_PROVA_CH',
'CO_PROVA_LC',
'CO_PROVA_MT',
'TX_RESPOSTAS_CN',
'TX_RESPOSTAS_CH',
'TX_RESPOSTAS_LC',
'TX_RESPOSTAS_MT',
'TX_GABARITO_CN',
'TX_GABARITO_CH',
'TX_GABARITO_LC',
'TX_GABARITO_MT',
'CO_MUNICIPIO_ESC',
'CO_UF_ESC',
'NU_ANO',
'CO_MUNICIPIO_PROVA',
'CO_UF_PROVA']

#Removendo colunas

df_enem_al_presence_full.drop(columns=colums_drop, inplace=True)
df_enem_al_presence_full.to_parquet("../data/treated/df_enem_al_presence_full.parquet")

C:\Users\Marcela Beatriz\AppData\Local\Temp\ipykernel_18324\545237176.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_enem_al_presence_full.drop(columns=colums_drop, inplace=True)

In [74]:
df_enem_al_presence_full.to_parquet("../data/treated/df_enem_al_presence_full.parquet")

Tipo de Nacionalidade

In [64]:
# 1	Brasileiro(a)
# 2	Brasileiro(a) Naturalizado(a)
# 3	Estrangeiro(a)
# 4	Brasileiro(a) Nato(a), nascido(a) no exterior


df_enem_al_presence_full['TP_NACIONALIDADE'].value_counts()

TP_NACIONALIDADE
1    2618387
2      47606
4       6337
3       4690
0       1244
Name: count, dtype: int64

Qual é a distribuição por sexo?

In [68]:
df_enem_al_presence_full['TP_SEXO'].value_counts()

TP_SEXO
F    1644046
M    1034218
Name: count, dtype: int64

Região das escolas

In [59]:
# 1 = Urbana, 2 = Rural
df_enem_al_presence_full['TP_LOCALIZACAO_ESC'].value_counts()

TP_LOCALIZACAO_ESC
1.0    697117
2.0     24312
Name: count, dtype: int64

Tipo da escola

In [60]:
# 1	Federal
# 2	Estadual
# 3	Municipal
# 4	Privada

df_enem_al_presence_full['TP_DEPENDENCIA_ADM_ESC'].value_counts().sort_index()

TP_DEPENDENCIA_ADM_ESC
1.0     43946
2.0    456911
3.0      5832
4.0    214740
Name: count, dtype: int64

Contagem de pessoas pro ano de conclusão

In [62]:
# 0	Não informado
# 1	2022
# 2	2021
# 3	2020
# 4	2019
# 5	2018
# 6	2017
# 7	2016
# 8	2015
# 9	2014
# 10	2013
# 11	2012
# 12	2011
# 13	2010
# 14	2009
# 15	2008
# 16	2007
# 17	Antes de 2007

df_enem_al_presence_full['TP_ANO_CONCLUIU'].value_counts()

TP_ANO_CONCLUIU
0     1670514
1      295560
2      173707
3       92873
17      83542
4       79430
5       57522
6       45525
7       33974
8       27645
9       22841
10      19441
11      17155
12      13869
13      13074
14      11580
15      10167
16       9845
Name: count, dtype: int64

Quantos treineiros fizeram a prova de 2023?

In [65]:
df_enem_al_presence_full['IN_TREINEIRO'].value_counts()

IN_TREINEIRO
0    2166843
1     511421
Name: count, dtype: int64

Quantas provas foram aplicadas pro município?

In [66]:
df_enem_al_presence_full['SG_UF_PROVA'].value_counts()

SG_UF_PROVA
SP    409480
MG    250015
BA    220257
RJ    184502
CE    173700
PA    153293
PE    152574
PR    114776
MA    112482
RS    110735
GO     96351
PB     87603
RN     72805
PI     70761
SC     62700
AL     54953
DF     50267
ES     49235
AM     47909
SE     47189
MT     41481
MS     31239
RO     22999
TO     21612
AP     18177
AC     15099
RR      6070
Name: count, dtype: int64

Quantos alunos por UF?

In [67]:
df_enem_al_presence_full['SG_UF_ESC'].value_counts()

SG_UF_ESC
SP    141339
CE     74319
MG     52837
RJ     49406
PR     39952
BA     34957
PE     34652
RS     32073
GO     28296
PA     27971
SC     23658
MA     23505
PB     18025
DF     16819
ES     16084
AM     14634
PI     14565
RN     14420
AL     13952
MT     12279
MS      9234
SE      8455
RO      7041
TO      4987
AP      3462
AC      2920
RR      1587
Name: count, dtype: int64

Quais foram os tipos de provas aplicadas?

In [70]:
# 1221	Azul
# 1222	Amarela
# 1223	Rosa
# 1224	Cinza
# 1225	Rosa - Ampliada
# 1226	Rosa - Superampliada
# 1227	Laranja - Braile
# 1228	Laranja - Adaptada Ledor
# 1229	Verde - Videoprova - Libras
# 1301	Azul (Reaplicação)
# 1302	Amarela (Reaplicação)
# 1303	Cinza (Reaplicação)
# 1304	Rosa (Reaplicação)

df_enem_al_presence_full['CO_PROVA_CN'].value_counts()

CO_PROVA_CN
1223.0    671183
1224.0    665869
1222.0    665399
1221.0    664706
1225.0      3306
1303.0      1304
1304.0      1295
1302.0      1290
1301.0      1289
1229.0      1199
1228.0       663
1226.0       641
1227.0       120
Name: count, dtype: int64

In [92]:
#Armazeando dados principais para exibir no Web APP

metrics_of_inscription = []

metrics_of_inscription.append({'Total de inscritos': df_enem.shape[0],
                               'Total de inscritos presentes': df_enem_al_presence_full.shape[0],
                               'Total de inscritos ausentes': df_enem.shape[0] - df_enem_al_presence_full.shape[0],
                               'Total de treineiros inscritos': df_enem_al_presence_full['IN_TREINEIRO'].value_counts()[1],
                               'Total de Mulheres inscritas': df_enem_al_presence_full['TP_SEXO'].value_counts()['F'],
                                'Total de Homens inscritos': df_enem_al_presence_full['TP_SEXO'].value_counts()['M'],
                                'Total de Provas Aplicadas por UF': df_enem_al_presence_full['SG_UF_PROVA'].value_counts().to_dict(),
                               })

In [93]:
df_metrics_inscription = pd.DataFrame(metrics_of_inscription)
df_metrics_inscription.to_parquet("../data/analysis/df_metrics_inscription.parquet")

In [120]:
ufs_dict = df_metrics_inscription['Total de Provas Aplicadas por UF'][0]
df_ufs = pd.DataFrame(list(ufs_dict.items()),columns = ['UF','Total de Provas Aplicadas'])

In [121]:
list(ufs_dict.items())

[('SP', 409480),
 ('MG', 250015),
 ('BA', 220257),
 ('RJ', 184502),
 ('CE', 173700),
 ('PA', 153293),
 ('PE', 152574),
 ('PR', 114776),
 ('MA', 112482),
 ('RS', 110735),
 ('GO', 96351),
 ('PB', 87603),
 ('RN', 72805),
 ('PI', 70761),
 ('SC', 62700),
 ('AL', 54953),
 ('DF', 50267),
 ('ES', 49235),
 ('AM', 47909),
 ('SE', 47189),
 ('MT', 41481),
 ('MS', 31239),
 ('RO', 22999),
 ('TO', 21612),
 ('AP', 18177),
 ('AC', 15099),
 ('RR', 6070)]

In [122]:
df_ufs

    UF  Total de Provas Aplicadas
0   SP                     409480
1   MG                     250015
2   BA                     220257
3   RJ                     184502
4   CE                     173700
5   PA                     153293
6   PE                     152574
7   PR                     114776
8   MA                     112482
9   RS                     110735
10  GO                      96351
11  PB                      87603
12  RN                      72805
13  PI                      70761
14  SC                      62700
15  AL                      54953
16  DF                      50267
17  ES                      49235
18  AM                      47909
19  SE                      47189
20  MT                      41481
21  MS                      31239
22  RO                      22999
23  TO                      21612
24  AP                      18177
25  AC                      15099
26  RR                       6070

In [98]:
df_ufs = pd.DataFrame(ufs_dict)

In [99]:
df_ufs

                    Total de Provas Aplicadas por UF
0  {'SP': 409480, 'MG': 250015, 'BA': 220257, 'RJ...