In [3]:
import pandas as pd

In [ ]:
# Carregar o arquivo CSV
df_enem = pd.read_csv("../data/raw/MICRODADOS_ENEM_2023.csv", sep=";",encoding='ANSI')

In [ ]:
# Salvar o DataFrame no formato Parquet
df_enem.to_parquet("../data/treated/df_enem.parquet")

In [4]:
#Carregando do arquivo para não precisar tratar toda vez
df_enem = pd.read_parquet("../data/treated/df_enem.parquet")
df_enem_al_presence_full = pd.read_parquet("../data/treated/df_enem_al_presence_full.parquet")

## Exploração dos Dados Gerais

In [93]:
#Tamanho da base
df_enem.shape

(3933955, 76)

In [55]:
#Mostrando primeiras linhas
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A

## Filtro para Inscritos Presentes e Exclusão de Colunas Desnecessárias

Retirando os alunos que faltaram a prova e aguardando em outro objeto

In [58]:
filter_al_presence = (df_enem['TP_PRESENCA_CN']== 1) & (df_enem['TP_PRESENCA_CH'] == 1) & (df_enem['TP_PRESENCA_LC'] == 1) & (df_enem['TP_PRESENCA_MT'] == 1)

df_enem_al_presence_full = df_enem[(filter_al_presence)]

Tamanho da base após retirada de faltantes

In [59]:
df_enem_al_presence_full.shape

(2678264, 76)

Retirando colunas desnecessárias

In [73]:
colums_drop = ['TP_PRESENCA_CN',
'TP_PRESENCA_CH',
'TP_PRESENCA_LC',
'TP_PRESENCA_MT',
'CO_PROVA_CH',
'CO_PROVA_LC',
'CO_PROVA_MT',
'TX_RESPOSTAS_CN',
'TX_RESPOSTAS_CH',
'TX_RESPOSTAS_LC',
'TX_RESPOSTAS_MT',
'TX_GABARITO_CN',
'TX_GABARITO_CH',
'TX_GABARITO_LC',
'TX_GABARITO_MT',
'CO_MUNICIPIO_ESC',
'CO_UF_ESC',
'NU_ANO',
'CO_MUNICIPIO_PROVA',
'CO_UF_PROVA']

#Removendo colunas

df_enem_al_presence_full.drop(columns=colums_drop, inplace=True)
df_enem_al_presence_full.to_parquet("../data/treated/df_enem_al_presence_full.parquet")

C:\Users\Marcela Beatriz\AppData\Local\Temp\ipykernel_18324\545237176.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_enem_al_presence_full.drop(columns=colums_drop, inplace=True)

Salvando dataframe para uso posterior

In [74]:
df_enem_al_presence_full.to_parquet("../data/treated/df_enem_al_presence_full.parquet")

## Exploração do df_enem_al_presence_full

Tipo de Nacionalidade

In [64]:
# 1	Brasileiro(a)
# 2	Brasileiro(a) Naturalizado(a)
# 3	Estrangeiro(a)
# 4	Brasileiro(a) Nato(a), nascido(a) no exterior


df_enem_al_presence_full['TP_NACIONALIDADE'].value_counts()

TP_NACIONALIDADE
1    2618387
2      47606
4       6337
3       4690
0       1244
Name: count, dtype: int64

Qual é a distribuição por sexo?

In [68]:
df_enem_al_presence_full['TP_SEXO'].value_counts()

TP_SEXO
F    1644046
M    1034218
Name: count, dtype: int64

Região das escolas

In [59]:
# 1 = Urbana, 2 = Rural
df_enem_al_presence_full['TP_LOCALIZACAO_ESC'].value_counts()

TP_LOCALIZACAO_ESC
1.0    697117
2.0     24312
Name: count, dtype: int64

Tipo da escola

In [60]:
# 1	Federal
# 2	Estadual
# 3	Municipal
# 4	Privada

df_enem_al_presence_full['TP_DEPENDENCIA_ADM_ESC'].value_counts().sort_index()

TP_DEPENDENCIA_ADM_ESC
1.0     43946
2.0    456911
3.0      5832
4.0    214740
Name: count, dtype: int64

Contagem de pessoas pro ano de conclusão

In [62]:
# 0	Não informado
# 1	2022
# 2	2021
# 3	2020
# 4	2019
# 5	2018
# 6	2017
# 7	2016
# 8	2015
# 9	2014
# 10	2013
# 11	2012
# 12	2011
# 13	2010
# 14	2009
# 15	2008
# 16	2007
# 17	Antes de 2007

df_enem_al_presence_full['TP_ANO_CONCLUIU'].value_counts()

TP_ANO_CONCLUIU
0     1670514
1      295560
2      173707
3       92873
17      83542
4       79430
5       57522
6       45525
7       33974
8       27645
9       22841
10      19441
11      17155
12      13869
13      13074
14      11580
15      10167
16       9845
Name: count, dtype: int64

Quantos treineiros fizeram a prova de 2023?

In [65]:
df_enem_al_presence_full['IN_TREINEIRO'].value_counts()

IN_TREINEIRO
0    2166843
1     511421
Name: count, dtype: int64

Quantas provas foram aplicadas pro município?

In [66]:
df_enem_al_presence_full['SG_UF_PROVA'].value_counts()

SG_UF_PROVA
SP    409480
MG    250015
BA    220257
RJ    184502
CE    173700
PA    153293
PE    152574
PR    114776
MA    112482
RS    110735
GO     96351
PB     87603
RN     72805
PI     70761
SC     62700
AL     54953
DF     50267
ES     49235
AM     47909
SE     47189
MT     41481
MS     31239
RO     22999
TO     21612
AP     18177
AC     15099
RR      6070
Name: count, dtype: int64

Quantos alunos por UF?

In [67]:
df_enem_al_presence_full['SG_UF_ESC'].value_counts()

SG_UF_ESC
SP    141339
CE     74319
MG     52837
RJ     49406
PR     39952
BA     34957
PE     34652
RS     32073
GO     28296
PA     27971
SC     23658
MA     23505
PB     18025
DF     16819
ES     16084
AM     14634
PI     14565
RN     14420
AL     13952
MT     12279
MS      9234
SE      8455
RO      7041
TO      4987
AP      3462
AC      2920
RR      1587
Name: count, dtype: int64

Quais foram os tipos de provas aplicadas?

In [70]:
# 1221	Azul
# 1222	Amarela
# 1223	Rosa
# 1224	Cinza
# 1225	Rosa - Ampliada
# 1226	Rosa - Superampliada
# 1227	Laranja - Braile
# 1228	Laranja - Adaptada Ledor
# 1229	Verde - Videoprova - Libras
# 1301	Azul (Reaplicação)
# 1302	Amarela (Reaplicação)
# 1303	Cinza (Reaplicação)
# 1304	Rosa (Reaplicação)

df_enem_al_presence_full['CO_PROVA_CN'].value_counts()

CO_PROVA_CN
1223.0    671183
1224.0    665869
1222.0    665399
1221.0    664706
1225.0      3306
1303.0      1304
1304.0      1295
1302.0      1290
1301.0      1289
1229.0      1199
1228.0       663
1226.0       641
1227.0       120
Name: count, dtype: int64

## Salvando Insights para Melhorar Desempenho do APP

In [38]:
#Armazeando dados principais para exibir no Web APP

metrics_of_inscription = []

metrics_of_inscription.append({'Total de inscritos': df_enem.shape[0],
                               'Total de inscritos presentes': df_enem_al_presence_full.shape[0],
                               'Total de inscritos ausentes': df_enem.shape[0] - df_enem_al_presence_full.shape[0],
                               'Total de treineiros inscritos': df_enem['IN_TREINEIRO'].value_counts()[1],
                               'Total de Mulheres inscritas': df_enem['TP_SEXO'].value_counts()['F'],
                                'Total de Homens inscritos': df_enem['TP_SEXO'].value_counts()['M'],
                                'Total de Provas Aplicadas por UF': df_enem_al_presence_full['SG_UF_PROVA'].value_counts().to_dict(),
                               })

In [39]:
df_metrics_inscription = pd.DataFrame(metrics_of_inscription)
df_metrics_inscription.to_parquet("../data/analysis/df_metrics_inscription.parquet")

In [40]:
ufs_dict = df_metrics_inscription['Total de Provas Aplicadas por UF'][0]
df_ufs = pd.DataFrame(list(ufs_dict.items()),columns = ['UF','Total de Provas Aplicadas'])

### Capturando Inscritos e Presentes por Região e UF

In [5]:
from collections import Counter

In [20]:
def states_region(type_df, list_ufs = None, df_uf_region_default = None):
    if type_df not in ['presentes','inscritos']:
        raise ValueError('type_df deve ser "presentes" ou "inscritos"')
    
    elif type_df == 'presentes' and df_uf_region_default is None:
        raise ValueError('Para type_df = "presentes" é necessário informar o dataframe com região e total de inscritos por UF')

    dict_states_regiao = {
    "AC":"Norte",
    "AL":"Nordeste",
    "AP":"Norte",
    "AM":"Norte",
    "BA":"Nordeste",
    "CE":"Nordeste",
    "DF":"Centro-Oeste",
    "ES":"Sudeste",
    "GO":"Centro-Oeste",
    "MA":"Nordeste",
    "MT":"Centro-Oeste",
    "MS":"Centro-Oeste",
    "MG":"Sudeste",
    "PA":"Norte",
    "PB":"Nordeste",
    "PR":"Sul",
    "PE":"Nordeste",
    "PI":"Nordeste",
    "RJ":"Sudeste",
    "RN":"Nordeste",
    "RS":"Sul",
    "RO":"Norte",
    "RR":"Norte",
    "SC":"Sul",
    "SP":"Sudeste",
    "SE":"Nordeste",
    "TO":"Norte"}
    if type_df == 'presentes':
        df_uf_region_presen =  pd.DataFrame(Counter(list_ufs).items(),columns = ['UF','Total Presentes'])
        return df_uf_region_presen
    
    elif type_df == 'inscritos':
        df_uf_region =  pd.DataFrame(Counter(list_ufs).items(),columns = ['UF','Total Inscritos'])
        df_uf_region['Regiao'] = df_uf_region['UF'].map(dict_states_regiao)
        return df_uf_region

In [26]:
def presence_percent(df_t):
    df_t['Percentual de Presentes'] = ((df_t['Total Presentes'] / df_t['Total Inscritos']) * 100).round(2)
    return df_t

In [53]:
def presence_sex_state(df_sx):
   list_insert = []
   for uf in df_sx['SG_UF_PROVA'].unique():
       list_insert.append({'UF':uf,
                           'Total Mulheres Presentes': df_sx['TP_SEXO'].groupby(df_sx['SG_UF_PROVA']).value_counts()[uf]['F'],
                           'Total Homens Presentes': df_sx['TP_SEXO'].groupby(df_sx['SG_UF_PROVA']).value_counts()[uf]['M']})
   df_insert = pd.DataFrame(list_insert) 
    
   return df_insert

In [68]:
def full_sex_state(df_sx_full):
   list_insert_full = []
   for uf in df_sx_full['SG_UF_PROVA'].unique():
       list_insert_full.append({'UF':uf,
                           'Total Mulheres Inscritas': df_sx_full['TP_SEXO'].groupby(df_sx_full['SG_UF_PROVA']).value_counts()[uf]['F'],
                           'Total Homens Inscritos': df_sx_full['TP_SEXO'].groupby(df_sx_full['SG_UF_PROVA']).value_counts()[uf]['M']})
   df_insert_full = pd.DataFrame(list_insert_full) 
    
   return df_insert_full

In [73]:
#Gerando DataFrame com total de inscritos por região
df_uf_region_full = states_region(list_ufs=df_enem['SG_UF_PROVA'],type_df='inscritos')

#Gerando DataFrame com total de presentes por região
df_uf_region_presence = states_region(df_uf_region_default = df_uf_region_full,list_ufs=df_enem_al_presence_full['SG_UF_PROVA'], type_df = 'presentes')

#Unindo os DataFrames
df_uf_region_full = df_uf_region_full.merge(df_uf_region_presence[['UF', 'Total Presentes']], on='UF', how='left')

In [74]:
#Gerando DataFrame com total de inscritos por região e sexo
df_uf_sex_full = full_sex_state(df_enem)

#Unindo os DataFrames
df_uf_region_full = df_uf_region_full.merge(df_uf_sex_full[['UF','Total Homens Inscritos', 'Total Mulheres Inscritas']], on='UF', how='left')

In [76]:
#Gerando DataFrame com total de presença por região e sexo
df_uf_sex = presence_sex_state(df_enem_al_presence_full)

#Unindo os DataFrames
df_uf_region_full = df_uf_region_full.merge(df_uf_sex[['UF','Total Homens Presentes', 'Total Mulheres Presentes']], on='UF', how='left')

In [80]:
df_uf_region_full.to_parquet("../data/analysis/df_uf_region_full.parquet")

In [78]:
#Adicionando coluna de porcentagem de presentes
df_uf_region_full = presence_percent(df_uf_region_full)

In [79]:
df_uf_region_full

,UF,Total Inscritos,Regiao,Total Presentes,Total Homens Inscritos,Total Mulheres Inscritas,Total Homens Presentes,Total Mulheres Presentes,Percentual de Presentes
0,DF,72975,Centro-Oeste,50267,28782,44193,19719,30548,68.88
1,RS,159919,Sul,110735,59692,100227,41633,69102,69.24
2,CE,241960,Nordeste,173700,106239,135721,74852,98848,71.79
3,BA,324268,Nordeste,220257,113310,210958,77583,142674,67.92
4,PE,218859,Nordeste,152574,86048,132811,59547,93027,69.71
5,MG,358575,Sudeste,250015,134275,224300,93446,156569,69.72
6,SP,590767,Sudeste,409480,230992,359775,160510,248970,69.31
7,RN,100706,Nordeste,72805,41372,59334,29937,42868,72.29
8,PR,166506,Sul,114776,64841,101665,44414,70362,68.93
9,PA,229162,Norte,153293,86142,143020,57992,95301,66.89
10,MA,165756,Nordeste,112482,62585,103171,42313,70169,67.86
11,RJ,282296,Sudeste,184502,106824,175472,70773,113729,65.36
12,MT,63912,Centro-Oeste,41481,24390,39522,15588,25893,64.90
13,SE,65540,Nordeste,47189,25012,40528,17916,29273,72.00
14,ES,73724,Sudeste,49235,28560,45164,19106,30129,66.78
15,SC,91263,Sul,62700,34570,56693,23647,39053,68.70
16,AC,24274,Norte,15099,9528,14746,5892,9207,62.20
17,AM,92916,Norte,47909,38282,54634,19442,28467,51.56
18,TO,32618,Norte,21612,12154,20464,7827,13785,66.26
19,MS,47455,Centro-Oeste,31239,18427,29028,12116,19123,65.83
20,PI,99639,Nordeste,70761,38884,60755,27616,43145,71.02
21,AL,82760,Nordeste,54953,32326,50434,21320,33633,66.40
22,GO,149110,Centro-Oeste,96351,59590,89520,36977,59374,64.62
23,PB,124511,Nordeste,87603,50968,73543,35688,51915,70.36
24,AP,28807,Norte,18177,11814,16993,7581,10596,63.10
25,RO,36038,Norte,22999,13601,22437,8556,14443,63.82
26,RR,9639,Norte,6070,3562,6077,2227,3843,62.97